<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>errorbrServlet</servlet-name>
        <servlet-class>newpackage.errorbrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr3Servlet</servlet-name>
        <servlet-class>newpackage.errorbr3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr4Servlet</servlet-name>
        <servlet-class>newpackage.errorbr4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr5Servlet</servlet-name>
        <servlet-class>newpackage.errorbr5Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr6Servlet</servlet-name>
        <servlet-class>newpackage.errorbr6Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr7Servlet</servlet-name>
        <servlet-class>newpackage.errorbr7Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr8Servlet</servlet-name>
        <servlet-class>newpackage.errorbr8Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr9Servlet</servlet-name>
        <servlet-class>newpackage.errorbr9Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr10Servlet</servlet-name>
        <servlet-class>newpackage.errorbr10Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr11Servlet</servlet-name>
        <servlet-class>newpackage.errorbr11Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorbr12Servlet</servlet-name>
        <servlet-class>newpackage.errorbr12Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zaikoSarvlet</servlet-name>
        <servlet-class>newpackage.zaikoSarvlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>errorbrServlet</servlet-name>
        <url-pattern>/errorbrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr3Servlet</servlet-name>
        <url-pattern>/errorbr3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr4Servlet</servlet-name>
        <url-pattern>/errorbr4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr5Servlet</servlet-name>
        <url-pattern>/errorbr5Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr6Servlet</servlet-name>
        <url-pattern>/errorbr6Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr7Servlet</servlet-name>
        <url-pattern>/errorbr7Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr8Servlet</servlet-name>
        <url-pattern>/errorbr8Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr9Servlet</servlet-name>
        <url-pattern>/errorbr9Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr10Servlet</servlet-name>
        <url-pattern>/errorbr10Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr11Servlet</servlet-name>
        <url-pattern>/errorbr11Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorbr12Servlet</servlet-name>
        <url-pattern>/errorbr12Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zaikoSarvlet</servlet-name>
        <url-pattern>/zaikoSarvlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
