<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dbSarvlet</servlet-name>
        <servlet-class>newpackage.DbSarvlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSarvlet</servlet-name>
        <servlet-class>newpackage.LoginSarvlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testSarvlet</servlet-name>
        <servlet-class>newpackage.testSarvlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbSarvlet</servlet-name>
        <url-pattern>/dbSarvlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSarvlet</servlet-name>
        <url-pattern>/LoginSarvlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testSarvlet</servlet-name>
        <url-pattern>/testSarvlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
